@import url('https://fonts.googleapis.com/css2?family=Bitter:ital@1&family=Piedra&display=swap');

.formContainer {
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
}

.shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

:root {
    --red: #FC0000;
    --burgundy: #8C0A0A;
    --orange: #FEA500;
    --yellow: #FFFF00;
    --white: #FFFFFF;
    --gray: #808080;
    --black: #010101;
    --purple: #810081;
    --light-purple: #DB70D6;
    --light-blue: #87CEFA;
    --dark-blue: #01008C;
}

.nav-wrapper {
    background-color: var(--clear);
    font-weight: bold;
    text-shadow: 0 0 5px white, 0 0 10px darkorange, 0 0 15px red;
    ;
    text-align: center;
    padding: .5% 1% 2% 1%;
}

.monsterHeading {
    color: var(--white);
}

.battleHeading {
    color: var(--white);
}

.playerHeading {
    color: var(--white)
}

body {
    background-image: url("../images/dndimage.png");
    background-size: 100%;
    background-position: fixed;
    background-attachment: fixed;
    font-family: chalkduster, piedra;
}

header p {
    font-size: 2rem;
}

.playerHeading,
.monsterHeading,
.battleHeading {
    text-shadow: 0px 0px 20px white, 0 0 10px black;
}

button {
    font-family: fantasy, bitter;
    box-shadow: 0 0 20px white;
}

.name-box {
    /* margin: 50px 33%;*/
    box-shadow: inset 0 0 10px gold, 0 0 50px darkorange, inset 0 0 75px red;
    padding: none;
}

.player-card {
    background: linear-gradient(darkred, darkorange);
    box-shadow: 0 0 10px gold;
}

.monster-card {
    background: linear-gradient(white, black);
    box-shadow: 0 0 10px gold;
    padding: 15px;
}

.monster-card .card-content {
    padding: 0 !important;
}

.monster-card .collapsible {
    margin: 15px 15px auto;
    background: white;
    box-shadow: 0 0 20px 0px white, inset 0 0 20px 0px black;
    color: black;
    width: 35%;
}
.monster-card .btn {
    margin: 0 auto;
    background: white;
    box-shadow: 0 0 20px 0px white, inset 0 0 20px 0px black;
    color: black;
    width: 100%;
    padding: 0;
}

.player-card .collapsible {
    margin: 15px 15px auto;
    background: darkred;
    box-shadow: 0 0 20px 0px black, inset 0 0 20px 0px white;
    color: white;
    width: 35%;

}
.player-card .btn {
    margin: 0 auto;
    background: darkred;
    box-shadow: 0 0 20px 0px black, inset 0 0 20px 0px white;
    color: white;
    width: 100%;
    padding: 0;
}

input {
    font-family: fantasy, bitter;
    font-weight: bold;
}

#monsterContainer,
#playerContainer,
#battleContainer {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 20rem
}

#random-name {
    font-weight: bold;
    font-size: 4rem;
}

#autocomplete {
    box-shadow: inset 0 0 10px gold, 0 0 10px darkorange, inset 0 0 15px red;
    border: 1px solid silver;
    outline: none;
    margin: 0;
    background: #fff;
}

#autocomplete_result {
    border: 1px solid silver;
    border-top: 0;
    position: absolute;
    overflow: auto;
    max-height: 93px;
    background: #fff;
    z-index: 1000;
}

#autocomplete,
#autocomplete_result {
    width: 200px;
    box-sizing: border-box;
}

#autocomplete,
#autocomplete_result p {
    padding: 4px;
    margin: 0;
    color: #000;
}

#autocomplete_result p:nth-child(2n+1) {
    background: #f6f6f6;
}

#autocomplete_result p:hover {
    background: #e5e5e5;
}

#monster-modal, #non-monster-modal {
    background: darkred;
    box-shadow: inset 0 0 50px gold, 0 0 100px darkorange, inset 0 0 75px red;
    padding: none;
    border-radius: -10px;
    text-shadow: 0 0 5px white, 0 0 10px darkorange, 0 0 15px red;
    ;

}

#sorry-button {
    display: block;
    margin: 0 auto;
}

.collapsible-header {
    justify-content: center !important;
    margin: 0 auto !important;
    padding: .2rem;
}

.collapsible-body {
    padding: .2rem;
}

